
::after,
::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: .3s;

}
/*banner*/

body {    
    background-image: linear-gradient(0.25turn,#03318d,#ca59ca);
}

.logo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px; 
    text-align: center;
    margin-top: 1rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
    background-color: #001848;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    padding-bottom:1rem;
}

@media screen and (max-width: 768px) {
    .logo {
        margin-bottom: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        top: auto; 
    }

    .nav-list {
        flex-direction: row; 
        margin-top: 10px; 
        font-size: 58%;
    }

    .nav-list li {
        margin-left: 10px; 
    }
}

/*banner*/

.foco{
    width: 100%;
    height: 92vh;
    background: url(./assets/banner-top.png) no-repeat center center;
    background-size: cover;
    text-align: center;

}
.foco::before{
    content: '';
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}
.foco h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding-top: 20rem;
    padding-bottom: 3rem;

}
.botao{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px 35px 15px 25px;
    background: #ffffff;
    border-radius: 5px;
}

/*card*/
.titulo-serv>p{
    text-align: center;
    letter-spacing: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size:15px;
}
.conteiner-card{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.card{
    margin: 25px;
    background: #483078;
    color: white;
    width: 300px;
    height:415px;
    border-radius: 10px;
    box-shadow: #001848 1px 1px 1px 1px, #906090 2px 2px 2px 2px;
    text-align: center;
    max-width: 90%;
    height: auto;
}
.card>h3{
    font-size: 30px;
    padding-top: 10px;
}
.card>img{
    height: auto;
    width: 100%;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card>p{
    font-size: small;
    padding: 10px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.titulo-serv{
    padding-top: 30px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white ;
    font-size: 35px;
}
@media screen and (max-width: 768px) {

    .conteiner-card {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin: 15px;
    }
}
/*portifólio*/

.titulo-portf>h2{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.titulo-portf>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.conteiner-portf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.porf {
    width: 300px;
    background-color: #483078;
    border-radius: 10px;
    box-shadow: 3px 2px 4px #906090;
    overflow: hidden;
}

.porf>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.porf>h3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    color: #ffffff;
}

.nome-jogo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.porf>p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin: 0 1rem 1rem;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .conteiner-portf {
        flex-direction: column;
        align-items: center;
    }

    .porf {
        width: 100%;
        max-width: 400px;
    }
}

/*linha do tempo (timeline)*/
/*chamei a linha do tempo de timeline apenas por motivos de que eu acho mais fácil de digitar e é menor kkk (mesma coisa p/ text-box*/
.sobre-titulo>h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sobre-titulo>p{
    text-align: center;
    letter-spacing: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    
}

.conteiner1{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: (#906090, 0.7);
    
}
.text-box>h2,small,p{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-box{
    padding: 20px 30px;
    background:#301860;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.conteiner-esquerdo{
    left: 0;
}
.conteiner-direito{
    left: 50%;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #906090;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}
.text-box>h2{
    font-weight: 600;
}
.text-box>small{
    display: inline-block;
    margin-bottom: 15px;
}

@media screen and (max-width: 900px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .conteiner1{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box>small{
        margin-bottom: 10px;
    }
    .conteiner-direito{
        left: 0;
    }
}
/*equipe*/

.conteiner-equipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #483078;
}

.pessoa {
    margin: 15px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pessoa>h5,span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000;
    overflow: hidden;
}

.foto-perfil img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
}

.pessoa h5, .pessoa span {
    color: #ffffff;
    margin: 5px 0;
}

.pessoa span {
    font-size: 12px;
    color: #cccccc;

}
.equipe{
    color: white;
    margin: 0.5em 0em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size:35px;
    text-align: center;
    
}
#equipe{
    color: white;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 5px;
    font-size: 20px;
}

.redes-sociais{
    margin-top: 5px;
    font-size: 16px;
}
.redes-sociais>a{
    margin-right: 10px;
}
.redes-sociais>a:hover{
    color: aquamarine;
}
/*pré rodapé*/

.texto-empresa>h1{
    color: white;
    margin: 0.5em 0em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size:35px;
    text-align: center;
}
.texto-empresa>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 5px;
    font-size: 20px;
}
.conteiner-empresa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #604878;
}

.empresa{
    margin: 15px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logoEMP{
    width: 100px;
    height: 60px;
    border-radius: 25%;
    background-color: white;
    overflow: hidden;
}

.logoEMP>img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
}

/*formulário*/


.conteiner-form{
    background:url(./assets/backcground-form.webp) no-repeat center center;
    background-size: cover;
    border-top: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.titulo-form{
    color: #fff;
}

.form-caixa{
    display: flex;
    flex-direction: column;
    background: linear-gradient(0.25turn,#301860, #906090);
    
    border-radius: 8px;
    width: 700px;
}
.form-caixa .titulo-form{
    padding: 24px 32px;
    font-size: 24px;
    border-bottom: thin solid #ffffff;
}
.form-caixa form{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 25px;
}

.form-caixa input,
.form-caixa textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: calc(50% - 8px);
    height:48px;
    border-radius: 6px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 16px;
}

.form-caixa input:first-child{
    margin-right: 16px;
}
.form-caixa input[name=email]{
    width: 100%;
}
.form-caixa textarea{
    width: 100%;
    height: 80px;
    padding: 16px;
}
.form-caixa button{
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color:#001848;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    border-style:ridge;
}
.form-caixa button:hover{
    background-color:#906090;
}

/*rodapé*/

.conteiner-rodape {
    background-color: #001848;
}
.rodape>.ordenar1,.ordenar2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.ordenar1 {
    order: 1; 
}

.ordenar2 {
    order: 3; 
}

.redes-sociais-rodape {
    text-align: center; 
    order: 2;
}


@media screen and (max-width: 768px) {
    .rodape {
        flex-direction: column;
        align-items: center;
    }

    .redes-sociais-rodape {
        margin-left: 0;
        margin-top: 10px;
    }
}

/**/